#chat {
    position: absolute;
    top: 0;
    left: 1%;
    width: 100%;
    padding-top: 80px;
    font-size: larger;
}

/* base message style */
.message {
    margin: 15px;
    /* background-color: #ffffff10; */
} 

/* username and timestamp */
.username {
    background-color: #fff;
    color: #000;
    border: 4px solid;
    padding: 3px;
    border-radius: 10px;
}

.timestamp {
    margin: 5px;
    color: #bbb;
}

.message .timestamp + .content {
    margin-top: 10px;
}

/* join and leave message style */
.message.jl {
    display: flex;
    align-items: center;
}

.message.jl .content {
    margin-left: 5px;
}

#msgBar {
    position: fixed;
    display: flex;
    background: #1f1f1f50;
    backdrop-filter: blur(5px);
    width: 100%;
    height: 80px;
    bottom: 0;
    left: 0;
    justify-content: center;
    align-items: center;
    z-index: 10;
}

#msgBar input {
    width: 92.5vw;
}

#msgBar button {
    display: flex;
    border-radius: 100%;
    background-color: #1ebc87;
    font-size: x-large;
    width: 50px;
    height: 50px;
    align-items: center;
    justify-content: center;
}

#msgBar button:active i {
    animation: flight 1s ease-out;
}

@keyframes flight {
    0% {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(-180deg) translateX(35px) translateY(35px);
    }
    100% {
        transform: rotate(-360deg);
    }
}
