@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100..700;1,100..700&family=Lexend:wght@100..900&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css");

:root { /* thx josh w comeau */
  --shadow-col: 240deg 4% 6%;
  --shadow-low:
    0px 0.4px 0.3px hsl(var(--shadow-col) / 1),
    0px 1.6px 1.2px -5px hsl(var(--shadow-col) / 0.54);
  --shadow-med:
    0px 0.4px 0.3px hsl(var(--shadow-col) / 1),
    -0.1px 7.8px 5.9px -5px hsl(var(--shadow-col) / 0.76);
  --shadow-high:
    0px 0.4px 0.3px hsl(var(--shadow-col) / 1),
    -0.1px 5.3px 4px -2.5px hsl(var(--shadow-col) / 1),
    -0.5px 39.9px 29.9px -5px hsl(var(--shadow-col) / 0.63);
}

body {
    background: #28282a;
    color: #fff;
    font-family: 'IBM Plex Sans', sans-serif;
    margin:0;
    padding:0;
    width: 100%;
    position: absolute;
    overflow-x: hidden;
    padding-top: 80px;
}



/* button */
button {
    background: #1e90ff;
    color: #fff;
    font-family: 'IBM Plex Sans', sans-serif;
    border: #fff 1px solid;
    border-radius: 7px;
    padding: 10px;
    margin: 5px;
    transition: 0.5s;
    font-size: 17px;
    box-shadow: var(--shadow-med);
}
button:hover {
    background: #333 !important;
    transform: scale(0.95);
    cursor: pointer;
    box-shadow: var(--shadow-low);
}

/* input and label */
input, select {
    background-color: #fff;
    color: #000;
    font-family: 'IBM Plex Sans', sans-serif;
    border: #666 2px solid;
    border-radius: 8px;
    padding: 10px;
    margin: 5px;
    transition: 0.5s;
    font-size: 17px; 
    box-shadow: var(--shadow-med);
    outline: none;
}
label {
    font-size: larger;
}

/* hr */
hr {
    position: absolute;
    left: 0;
    width: 100%;
    margin-top: 0;
}



/* navigation bar */
nav {
    position: fixed;
    display: flex;
    background: #1f1f1f50;
    backdrop-filter: blur(5px);
    width: 100%;
    height: 80px;
    top: 0;
    left: 0;
    justify-content: space-between;
    align-items: center;
    z-index: 10;
}

/* logo */
#logo {
    height: 80px;
    margin-left: 20px;
    margin-top: 22px;
    transition: 0.5s ease;
}
#logo:hover {
    transform: scale(1.1);
}
#logo-text {
    transition: 0.75s ease;
}
#logo:hover #logo-text {
    transform: scale(1.05);
    transform-origin: center;
    transform-box: fill-box;
}

/* navbar icons */
#menu {
    margin-right: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: nowrap;
    font-size: 30px;
}
#menu i {
    color: #bbb;
    transition: 0.5s ease;
    margin: 10px;
}
#menu i:hover {
    color: #fff;
    transform: scale(1.2) rotate(5deg);
    cursor: pointer;
}
#menu i:active {
    transform: scale(0.9) !important;
    color: dodgerblue;
}
/* gear spin animation, because why not */
#menu .bi-gear-fill:hover {
    transform: scale(1.2) rotate(95deg);
}



/* modal stuff */
#modal-wrapper {
    position: fixed;
    left: 0;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background: #00000050;
    z-index: 10;
    animation: fadeIn 0.5s ease-out;
}

#modal {
    position: fixed;
    padding: 20px;
    border-radius: 20px;
    width: fit-content;
    background-color: #fff;
    color: #000;
    animation: bounceInDown 1s ease;
    box-shadow: var(--shadow-high);
}
