@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100..700;1,100..700&family=Lexend:wght@100..900&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css");

:root { /* thx josh w comeau */
  --shadow-col: 240deg 4% 6%;
  --shadow-low:
    0px 0.4px 0.3px hsl(var(--shadow-col) / 1),
    0px 1.6px 1.2px -5px hsl(var(--shadow-col) / 0.54);
  --shadow-med:
    0px 0.4px 0.3px hsl(var(--shadow-col) / 1),
    -0.1px 7.8px 5.9px -5px hsl(var(--shadow-col) / 0.76);
  --shadow-high:
    0px 0.4px 0.3px hsl(var(--shadow-col) / 1),
    -0.1px 5.3px 4px -2.5px hsl(var(--shadow-col) / 1),
    -0.5px 39.9px 29.9px -5px hsl(var(--shadow-col) / 0.63);
}

body {
    background: #28282a;
    color: #fff;
    font-family: 'IBM Plex Sans', sans-serif;
    margin:0;
    padding:0;
    width: 100%;
    min-height: 100%;
    position: absolute;
    overflow-x: hidden;
}


/* button */
button {
    background: #1e90ff;
    color: #fff;
    font-family: 'IBM Plex Sans', sans-serif;
    border: #fff 1px solid;
    border-radius: 7px;
    padding: 10px;
    margin: 5px;
    transition: 0.5s;
    font-size: 17px;
    box-shadow: var(--shadow-med);
}
button:hover {
    background: #333 !important;
    transform: scale(0.95);
    cursor: pointer;
    box-shadow: var(--shadow-low);
}

/* input and label */
input, select {
    background-color: #fff;
    color: #000;
    font-family: 'IBM Plex Sans', sans-serif;
    border: #666 2px solid;
    border-radius: 8px;
    padding: 10px;
    margin: 5px;
    transition: 0.5s;
    font-size: 17px; 
    box-shadow: var(--shadow-med);
    outline: none;
}
label {
    font-size: larger;
}

/* hr */
hr {
    position: absolute;
    left: 0;
    width: 100%;
    margin-top: 0;
}


/* navigation bar */
nav {
    position: fixed;
    display: flex;
    background: #1f1f1f50;
    backdrop-filter: blur(5px);
    width: 100%;
    height: 80px;
    top: 0;
    left: 0;
    justify-content: space-between;
    align-items: center;
    z-index: 10;
}

/* logo */
#logo {
    height: 80px;
    margin-left: 20px;
    margin-top: 22px;
    transition: 0.5s ease;
}
#logo:hover {
    transform: scale(1.1);
}
#logo-text {
    transition: 0.75s ease;
}
#logo:hover #logo-text {
    transform: scale(1.05);
    transform-origin: center;
    transform-box: fill-box;
}

/* icon */
#icons i {
    display: inline-block;
    transform-origin: center;
    color: #bbb;
    transition: 0.5s ease;
    margin: 10px;
    margin-right: 30px;
    font-size: 30px;
    
}
#icons i:hover {
    color: #fff;
    cursor: pointer;
    transform: scale(1.2) rotate(5deg);
}
#icons i:active {
    transform: scale(0.9) !important;
    color: #1e90ff;
}

/* custom gear animation :P */
#icons .bi-gear-fill:hover {
    transform: scale(1.2) rotate(95deg);
}

/* from app.css */

#chat {
    position: absolute;
    top: 0;
    left: 1%;
    width: 100%;
    padding-top: 80px;
    padding-bottom: 80px;
    font-size: larger;
}

/* base message style */
.message {
    margin: 15px;
    /* background-color: #ffffff10; */
} 

/* username and timestamp */
.username {
    background-color: #fff;
    color: #000;
    border: 4px solid;
    padding: 3px;
    border-radius: 10px;
}

.timestamp {
    margin: 5px;
    color: #bbb;
}

.message .timestamp + .content {
    margin-top: 10px;
}

/* join and leave message style */
.message.jl {
    display: flex;
    align-items: center;
}

.message.jl .content {
    margin-left: 5px;
}

#msgBar {
    position: fixed;
    display: flex;
    background: #1f1f1f50;
    backdrop-filter: blur(5px);
    width: 100%;
    height: 80px;
    bottom: 0;
    left: 0;
    justify-content: center;
    align-items: center;
    z-index: 10;
}

#msgBar input {
    width: 92.5vw;
}

#msgBar button {
    display: flex;
    border-radius: 100%;
    background-color: #1ebc87;
    font-size: x-large;
    width: 50px;
    height: 50px;
    align-items: center;
    justify-content: center;
}

/* modals */
.modal {
    position: fixed;
    display: flex;
    flex-direction: column;
    background: #1f1f1f50;
    backdrop-filter: blur(3px);
    width: 300px;
    padding: 20px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 15px;
}
.modal-wrapper {
    z-index: 20;
    background-color: #00000080;
    backdrop-filter: blur(2px);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
}